:root {
    --background-body : #F7F5FF;
    --background-card : white;
}

body {
    background-color: var(--background-body);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Prompt", sans-serif;
}

#card {
    background-color: var(--background-card);
    width: 350px;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
} 

/* ปรับรูป*/
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-resize {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin-top: 1rem;
}

/* ปรับไอค่อน */
.icon a img {
    width: 100%;
    height: 100%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.icon a {
    width: 30px;
    height: 30px;
    padding: 0 0.5rem;
}

/* ปุ่ม */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    border-radius: 5px;
    border-width: 1px;
    padding: 0.5rem;
    background-color: white;
}

.button :hover {
    color: aqua;
}

/* ชื่อ */
h2 {
    font-family: "Cabin", sans-serif;
    text-align: center;
    margin-bottom: 0;
}

.text p {
    font-family: "Cabin", sans-serif;
    margin: 0 0 1rem;
    text-align: center;
    color: #666666;
}

